## Librerias

In [18]:
import requests
import json
import pandas as pd
import warnings
warnings.filterwarnings("ignore")

## Tabla de races

In [2]:
races={'season':[],
       'round': [],
       'raceName':[],
       'circuitId': [],
       'lat':[],
       'long':[],
       'country':[],
       'date':[],
       'url':[]}

In [3]:
for year in list(range(2010,2023)):
    url='http://ergast.com/api/f1/{}.json'
    response = requests.get(url.format(year))
    content = json.loads(response.content)
    
    
    for item in content['MRData']['RaceTable']['Races']:

            races['season'].append(int(item['season']))
            
            races['round'].append(int(item['round']))
            
            races['raceName'].append(item['raceName'])
            
            races['circuitId'].append(item['Circuit']['circuitId'])
            
            races['lat'].append(item['Circuit']['Location']['lat'])
            
            races['long'].append(item['Circuit']['Location']['long'])
            
            races['country'].append(item['Circuit']['Location']['country'])
            
            races['date'].append(item['date'])
            
            races['url'].append(item['url'])

In [4]:
pd.DataFrame(races)

,season,round,raceName,circuitId,lat,long,country,date,url
0,2010,1,Bahrain Grand Prix,bahrain,26.0325,50.5106,Bahrain,2010-03-14,http://en.wikipedia.org/wiki/2010_Bahrain_Gran...
1,2010,2,Australian Grand Prix,albert_park,-37.8497,144.968,Australia,2010-03-28,http://en.wikipedia.org/wiki/2010_Australian_G...
2,2010,3,Malaysian Grand Prix,sepang,2.76083,101.738,Malaysia,2010-04-04,http://en.wikipedia.org/wiki/2010_Malaysian_Gr...
3,2010,4,Chinese Grand Prix,shanghai,31.3389,121.22,China,2010-04-18,http://en.wikipedia.org/wiki/2010_Chinese_Gran...
4,2010,5,Spanish Grand Prix,catalunya,41.57,2.26111,Spain,2010-05-09,http://en.wikipedia.org/wiki/2010_Spanish_Gran...
...,...,...,...,...,...,...,...,...,...
254,2022,18,Japanese Grand Prix,suzuka,34.8431,136.541,Japan,2022-10-09,http://en.wikipedia.org/wiki/2022_Japanese_Gra...
255,2022,19,United States Grand Prix,americas,30.1328,-97.6411,USA,2022-10-23,http://en.wikipedia.org/wiki/2022_United_State...
256,2022,20,Mexico City Grand Prix,rodriguez,19.4042,-99.0907,Mexico,2022-10-30,http://en.wikipedia.org/wiki/2022_Mexican_Gran...
257,2022,21,Brazilian Grand Prix,interlagos,-23.7036,-46.6997,Brazil,2022-11-13,http://en.wikipedia.org/wiki/2022_Brazilian_Gr...
258,2022,22,Abu Dhabi Grand Prix,yas_marina,24.4672,54.6031,UAE,2022-11-20,http://en.wikipedia.org/wiki/2022_Abu_Dhabi_Gr...

In [ ]:
pd.DataFrame(races).to_csv('races.csv',index=False)

## Season

In [5]:
url='http://ergast.com/api/f1/seasons.json'
response = requests.get(url.format(2022))
content = json.loads(response.content)

In [6]:
seasons ={'season':[],
          'url': []}

In [7]:
for item in content['MRData']['SeasonTable']['Seasons']:
    seasons['season'].append(int(item['season']))
    seasons['url'].append(item['url'])

In [8]:
pd.DataFrame(seasons)

    season                                                url
0     1950  http://en.wikipedia.org/wiki/1950_Formula_One_...
1     1951  http://en.wikipedia.org/wiki/1951_Formula_One_...
2     1952  http://en.wikipedia.org/wiki/1952_Formula_One_...
3     1953  http://en.wikipedia.org/wiki/1953_Formula_One_...
4     1954  http://en.wikipedia.org/wiki/1954_Formula_One_...
5     1955  http://en.wikipedia.org/wiki/1955_Formula_One_...
6     1956  http://en.wikipedia.org/wiki/1956_Formula_One_...
7     1957  http://en.wikipedia.org/wiki/1957_Formula_One_...
8     1958  http://en.wikipedia.org/wiki/1958_Formula_One_...
9     1959  http://en.wikipedia.org/wiki/1959_Formula_One_...
10    1960  http://en.wikipedia.org/wiki/1960_Formula_One_...
11    1961  http://en.wikipedia.org/wiki/1961_Formula_One_...
12    1962  http://en.wikipedia.org/wiki/1962_Formula_One_...
13    1963  http://en.wikipedia.org/wiki/1963_Formula_One_...
14    1964  http://en.wikipedia.org/wiki/1964_Formula_One_...
15    1965  http://en.wikipedia.org/wiki/1965_Formula_One_...
16    1966  http://en.wikipedia.org/wiki/1966_Formula_One_...
17    1967  http://en.wikipedia.org/wiki/1967_Formula_One_...
18    1968  http://en.wikipedia.org/wiki/1968_Formula_One_...
19    1969  http://en.wikipedia.org/wiki/1969_Formula_One_...
20    1970  http://en.wikipedia.org/wiki/1970_Formula_One_...
21    1971  http://en.wikipedia.org/wiki/1971_Formula_One_...
22    1972  http://en.wikipedia.org/wiki/1972_Formula_One_...
23    1973  http://en.wikipedia.org/wiki/1973_Formula_One_...
24    1974  http://en.wikipedia.org/wiki/1974_Formula_One_...
25    1975  http://en.wikipedia.org/wiki/1975_Formula_One_...
26    1976  http://en.wikipedia.org/wiki/1976_Formula_One_...
27    1977  http://en.wikipedia.org/wiki/1977_Formula_One_...
28    1978  http://en.wikipedia.org/wiki/1978_Formula_One_...
29    1979  http://en.wikipedia.org/wiki/1979_Formula_One_...

In [10]:
pd.DataFrame(seasons).to_csv('seasons.csv', index=False)

## Drivers

Realizaremos el archivo csv, primero crearemos las listas que guardaran lo datos y haremos un ciclo for para obtener todos los datos de 2010 a 2022, entonces:

In [9]:
drivers= {'driverId':[],
         'givenName':[],
         'familyName':[],
         'dateOfBirth':[],
         'nationality':[],
         'url':[]}

In [10]:
for year in list(range(2010,2023)):
    url = 'http://ergast.com/api/f1/{}/drivers.json'
    response = requests.get(url.format(year))
    content=json.loads(response.content)
    
    for item in content['MRData']['DriverTable']['Drivers']:
        drivers['driverId'].append(item['driverId'])
        drivers['givenName'].append(item['givenName'])
        drivers['familyName'].append(item['familyName'])
        drivers['dateOfBirth'].append(item['dateOfBirth'])
        drivers['nationality'].append(item['nationality'])
        drivers['url'].append(item['url'])

In [11]:
pd.DataFrame(drivers)

,driverId,givenName,familyName,dateOfBirth,nationality,url
0,alguersuari,Jaime,Alguersuari,1990-03-23,Spanish,http://en.wikipedia.org/wiki/Jaime_Alguersuari
1,alonso,Fernando,Alonso,1981-07-29,Spanish,http://en.wikipedia.org/wiki/Fernando_Alonso
2,barrichello,Rubens,Barrichello,1972-05-23,Brazilian,http://en.wikipedia.org/wiki/Rubens_Barrichello
3,buemi,SÃ©bastien,Buemi,1988-10-31,Swiss,http://en.wikipedia.org/wiki/S%C3%A9bastien_Buemi
4,button,Jenson,Button,1980-01-19,British,http://en.wikipedia.org/wiki/Jenson_Button
...,...,...,...,...,...,...
299,stroll,Lance,Stroll,1998-10-29,Canadian,http://en.wikipedia.org/wiki/Lance_Stroll
300,tsunoda,Yuki,Tsunoda,2000-05-11,Japanese,http://en.wikipedia.org/wiki/Yuki_Tsunoda
301,max_verstappen,Max,Verstappen,1997-09-30,Dutch,http://en.wikipedia.org/wiki/Max_Verstappen
302,vettel,Sebastian,Vettel,1987-07-03,German,http://en.wikipedia.org/wiki/Sebastian_Vettel
303,zhou,Guanyu,Zhou,1999-05-30,Chinese,http://en.wikipedia.org/wiki/Guanyu_Zhou

In [14]:
pd.DataFrame(drivers).to_csv('drivers.csv', index=False)

## Constructors

In [12]:
constructors={'constructorId':[],
             'name':[],
              'nationality':[],
             'url':[]}

In [13]:
for year in list(range(2010,2023)):
    url = 'http://ergast.com/api/f1/{}/constructors.json'
    response = requests.get(url.format(year))
    content=json.loads(response.content)
    
    for item in content['MRData']['ConstructorTable']['Constructors']:
        constructors['constructorId'].append(item['constructorId'])
        constructors['name'].append(item['name'])
        constructors['nationality'].append(item['nationality'])
        constructors['url'].append(item['url'])

In [14]:
pd.DataFrame(constructors)

,constructorId,name,nationality,url
0,ferrari,Ferrari,Italian,http://en.wikipedia.org/wiki/Scuderia_Ferrari
1,force_india,Force India,Indian,http://en.wikipedia.org/wiki/Racing_Point_Forc...
2,hrt,HRT,Spanish,http://en.wikipedia.org/wiki/Hispania_Racing
3,lotus_racing,Lotus,Malaysian,http://en.wikipedia.org/wiki/Lotus_Racing
4,mclaren,McLaren,British,http://en.wikipedia.org/wiki/McLaren
...,...,...,...,...
134,haas,Haas F1 Team,American,http://en.wikipedia.org/wiki/Haas_F1_Team
135,mclaren,McLaren,British,http://en.wikipedia.org/wiki/McLaren
136,mercedes,Mercedes,German,http://en.wikipedia.org/wiki/Mercedes-Benz_in_...
137,red_bull,Red Bull,Austrian,http://en.wikipedia.org/wiki/Red_Bull_Racing
138,williams,Williams,British,http://en.wikipedia.org/wiki/Williams_Grand_Pr...

In [27]:
pd.DataFrame(constructors).to_csv('constructors.csv', index=False)

## Circuits

In [15]:
circuits={'circuitId':[],
         'circuitName':[],
        'lat':[],
        'long':[],
        'locality':[],
        'country':[],
         'url':[]}

In [16]:
for year in list(range(2010,2023)):
    url = 'http://ergast.com/api/f1/{}/circuits.json'
    response = requests.get(url.format(year))
    content=json.loads(response.content)
    
    for item in content['MRData']['CircuitTable']['Circuits']:
        
        circuits['circuitId'].append(item['circuitId'])
        circuits['circuitName'].append(item['circuitName'])
        circuits['lat'].append(item['Location']['lat'])
        circuits['long'].append(item['Location']['long'])
        circuits['locality'].append(item['Location']['locality'])
        circuits['country'].append(item['Location']['country'])
        circuits['url'].append(item['url'])

In [17]:
pd.DataFrame(circuits)

,circuitId,circuitName,lat,long,locality,country,url
0,albert_park,Albert Park Grand Prix Circuit,-37.8497,144.968,Melbourne,Australia,http://en.wikipedia.org/wiki/Melbourne_Grand_P...
1,bahrain,Bahrain International Circuit,26.0325,50.5106,Sakhir,Bahrain,http://en.wikipedia.org/wiki/Bahrain_Internati...
2,catalunya,Circuit de Barcelona-Catalunya,41.57,2.26111,MontmelÃ³,Spain,http://en.wikipedia.org/wiki/Circuit_de_Barcel...
3,hockenheimring,Hockenheimring,49.3278,8.56583,Hockenheim,Germany,http://en.wikipedia.org/wiki/Hockenheimring
4,hungaroring,Hungaroring,47.5789,19.2486,Budapest,Hungary,http://en.wikipedia.org/wiki/Hungaroring
...,...,...,...,...,...,...,...
250,spa,Circuit de Spa-Francorchamps,50.4372,5.97139,Spa,Belgium,http://en.wikipedia.org/wiki/Circuit_de_Spa-Fr...
251,suzuka,Suzuka Circuit,34.8431,136.541,Suzuka,Japan,http://en.wikipedia.org/wiki/Suzuka_Circuit
252,villeneuve,Circuit Gilles Villeneuve,45.5,-73.5228,Montreal,Canada,http://en.wikipedia.org/wiki/Circuit_Gilles_Vi...
253,yas_marina,Yas Marina Circuit,24.4672,54.6031,Abu Dhabi,UAE,http://en.wikipedia.org/wiki/Yas_Marina_Circuit
254,zandvoort,Circuit Park Zandvoort,52.3888,4.54092,Zandvoort,Netherlands,http://en.wikipedia.org/wiki/Circuit_Zandvoort

In [18]:
pd.DataFrame(circuits).to_csv('circuits.csv', index=False)

## Qualifying

In [18]:
url = 'http://ergast.com/api/f1/{}/5/qualifying.json'
response = requests.get(url.format(year))
content=json.loads(response.content)

In [19]:
qualifying={'raceId':[],
           'driverId':[],
           'constructorId':[],
           'number':[],
           'position':[], 
           'Q1':[],
           'Q2':[],
           'Q3':[]}

In [20]:
for year in range(2010,2023):
    url='http://ergast.com/api/f1/{}/qualifying.json'
    response = requests.get(url.format(year))
    content=json.loads(response.content)
    
    for item in content['MRData']['RaceTable']['Races'][0]['QualifyingResults']:
        qualifying['raceId'].append(content['MRData']['RaceTable']['Races'][0]['raceName'])
        qualifying['driverId'].append(item['Driver']['driverId'])
        qualifying['constructorId'].append(item['Constructor']['constructorId'])
        qualifying['number'].append(int(item['number']))
        qualifying['position'].append(int(item['position']))
        try:
            qualifying['Q1'].append(item['Q1'])
        except:
            qualifying['Q1'].append(None)
        try:
            qualifying['Q2'].append(item['Q2'])
        except:
            qualifying['Q2'].append(None)
        try:
            qualifying['Q3'].append(item['Q3'])
        except:
            qualifying['Q3'].append(None)
    for item in content['MRData']['RaceTable']['Races'][1]['QualifyingResults']:
        qualifying['raceId'].append(content['MRData']['RaceTable']['Races'][1]['raceName'])
        qualifying['driverId'].append(item['Driver']['driverId'])
        qualifying['constructorId'].append(item['Constructor']['constructorId'])
        qualifying['number'].append(int(item['number']))
        qualifying['position'].append(int(item['position']))
        try:
            qualifying['Q1'].append(item['Q1'])
        except:
            qualifying['Q1'].append(None)
        try:
            qualifying['Q2'].append(item['Q2'])
        except:
            qualifying['Q2'].append(None)
        try:
            qualifying['Q3'].append(item['Q3'])
        except:
            qualifying['Q3'].append(None)

In [21]:
pd.DataFrame(qualifying)

,raceId,driverId,constructorId,number,position,Q1,Q2,Q3
0,Bahrain Grand Prix,vettel,red_bull,5,1,1:55.029,1:53.883,1:54.101
1,Bahrain Grand Prix,massa,ferrari,7,2,1:55.313,1:54.331,1:54.242
2,Bahrain Grand Prix,alonso,ferrari,8,3,1:54.612,1:54.172,1:54.608
3,Bahrain Grand Prix,hamilton,mclaren,2,4,1:55.341,1:54.707,1:55.217
4,Bahrain Grand Prix,rosberg,mercedes,4,5,1:55.463,1:54.682,1:55.241
...,...,...,...,...,...,...,...,...
385,Saudi Arabian Grand Prix,russell,mercedes,63,6,1:29.680,1:29.618,1:29.104
386,Saudi Arabian Grand Prix,alonso,alpine,14,7,1:29.978,1:29.295,1:29.147
387,Saudi Arabian Grand Prix,bottas,alfa,77,8,1:29.683,1:29.404,1:29.183
388,Saudi Arabian Grand Prix,gasly,alphatauri,10,9,1:29.891,1:29.418,1:29.254
389,Saudi Arabian Grand Prix,kevin_magnussen,haas,20,10,1:29.831,1:29.546,1:29.588

In [23]:
pd.DataFrame(qualifying).to_csv('qualifying.csv', index=False)

## SprintResults

Primero realicemos el archivo csv de sprintresults, para ello crearemos las listas que guardaran lo datos y realizaremos un ciclo for para obtener todos los datos de 2021 a 2022, ya que la API son los unicos aÃ±os en que nos proporciona datos, asÃ­

In [22]:
sprintresults={'raceId':[],
           'driverId':[],
           'constructorId':[],
           'number':[],
           'position':[], 
           'grid':[],
           'positionText':[],
           'points':[],
           'laps':[],
           'time':[], 
           'millis':[],
            'Fastestlap':[],
            'Fastlaptime':[],
            'status':[]}

In [23]:
for year in range(2021,2023):
    url= 'http://ergast.com/api/f1/{}/sprint.json'
    response = requests.get(url.format(year))
    content=json.loads(response.content)
    
    for item in content['MRData']['RaceTable']['Races'][0]['SprintResults']:
        
        sprintresults['raceId'].append(content['MRData']['RaceTable']['Races'][0]['raceName'])
        sprintresults['driverId'].append(item['Driver']['driverId'])
        sprintresults['constructorId'].append(item['Constructor']['constructorId'])
        sprintresults['number'].append(int(item['number']))
        sprintresults['position'].append(int(item['position']))
        sprintresults['grid'].append(int(item['grid']))
        sprintresults['positionText'].append(item['positionText'])
        sprintresults['points'].append(int(item['points']))
        sprintresults['laps'].append(int(item['laps']))
        sprintresults['status'].append(item['status'])
        try:
            sprintresults['millis'].append(item['Time']['millis'])
        except:
             sprintresults['millis'].append(None)
        try:
            sprintresults['time'].append(item['Time']['time'])
        except:
            sprintresults['time'].append(None)
        try:
            sprintresults['Fastestlap'].append(item['FastestLap']['lap'])
        except:
            sprintresults['Fastestlap'].append(None)
        try:
            sprintresults['Fastlaptime'].append(item['FastestLap']['Time']['time'])
        except:
            sprintresults['Fastlaptime'].append(None)
            
    for item in content['MRData']['RaceTable']['Races'][1]['SprintResults']:
        sprintresults['raceId'].append(content['MRData']['RaceTable']['Races'][1]['raceName'])
        sprintresults['driverId'].append(item['Driver']['driverId'])
        sprintresults['constructorId'].append(item['Constructor']['constructorId'])
        sprintresults['number'].append(int(item['number']))
        sprintresults['position'].append(int(item['position']))
        sprintresults['grid'].append(int(item['grid']))
        sprintresults['positionText'].append(item['positionText'])
        sprintresults['points'].append(int(item['points']))
        sprintresults['laps'].append(int(item['laps']))
        sprintresults['status'].append(item['status'])
        try:
            sprintresults['millis'].append(item['Time']['millis'])
        except:
             sprintresults['millis'].append(None)
        try:
            sprintresults['time'].append(item['Time']['time'])
        except:
            sprintresults['time'].append(None)
        try:
            sprintresults['Fastestlap'].append(item['FastestLap']['lap'])
        except:
            sprintresults['Fastestlap'].append(None)
        try:
            sprintresults['Fastlaptime'].append(item['FastestLap']['Time']['time'])
        except:
            sprintresults['Fastlaptime'].append(None)

In [24]:
pd.DataFrame(sprintresults)

,raceId,driverId,constructorId,number,position,grid,positionText,points,laps,time,millis,Fastestlap,Fastlaptime,status
0,British Grand Prix,max_verstappen,red_bull,33,1,2,1,3,17,25:38.426,1538426,14,1:30.013,Finished
1,British Grand Prix,hamilton,mercedes,44,2,1,2,2,17,+1.430,1539856,17,1:29.937,Finished
2,British Grand Prix,bottas,mercedes,77,3,3,3,1,17,+7.502,1545928,17,1:29.958,Finished
3,British Grand Prix,leclerc,ferrari,16,4,4,4,0,17,+11.278,1549704,16,1:30.163,Finished
4,British Grand Prix,norris,mclaren,4,5,6,5,0,17,+24.111,1562537,16,1:30.566,Finished
5,British Grand Prix,ricciardo,mclaren,3,6,7,6,0,17,+30.959,1569385,17,1:30.640,Finished
6,British Grand Prix,alonso,alpine,14,7,11,7,0,17,+43.527,1581953,17,1:31.773,Finished
7,British Grand Prix,vettel,aston_martin,5,8,10,8,0,17,+44.439,1582865,17,1:31.687,Finished
8,British Grand Prix,russell,williams,63,9,8,9,0,17,+46.652,1585078,17,1:32.208,Finished
9,British Grand Prix,ocon,alpine,31,10,13,10,0,17,+47.395,1585821,16,1:32.183,Finished
10,British Grand Prix,sainz,ferrari,55,11,9,11,0,17,+47.798,1586224,10,1:31.991,Finished
11,British Grand Prix,gasly,alphatauri,10,12,12,12,0,17,+48.763,1587189,17,1:32.072,Finished
12,British Grand Prix,raikkonen,alfa,7,13,17,13,0,17,+50.677,1589103,12,1:32.139,Finished
13,British Grand Prix,stroll,aston_martin,18,14,15,14,0,17,+52.179,1590605,12,1:32.210,Finished
14,British Grand Prix,giovinazzi,alfa,99,15,14,15,0,17,+53.225,1591651,14,1:32.457,Finished
15,British Grand Prix,tsunoda,alphatauri,22,16,16,16,0,17,+53.567,1591993,14,1:32.270,Finished
16,British Grand Prix,latifi,williams,6,17,18,17,0,17,+55.162,1593588,17,1:32.143,Finished
17,British Grand Prix,mick_schumacher,haas,47,18,19,18,0,17,+1:08.213,1606639,15,1:32.567,Finished
18,British Grand Prix,mazepin,haas,9,19,20,19,0,17,+1:17.648,1616074,3,1:33.462,Finished
19,British Grand Prix,perez,red_bull,11,20,5,R,0,16,None,None,6,1:31.465,Vibrations
20,Italian Grand Prix,bottas,mercedes,77,1,1,1,3,18,27:54.078,1674078,9,1:23.540,Finished
21,Italian Grand Prix,max_verstappen,red_bull,33,2,3,2,2,18,+2.325,1676403,9,1:23.502,Finished
22,Italian Grand Prix,ricciardo,mclaren,3,3,5,3,1,18,+14.534,1688612,17,1:24.291,Finished
23,Italian Grand Prix,norris,mclaren,4,4,4,4,0,18,+18.835,1692913,9,1:24.554,Finished
24,Italian Grand Prix,hamilton,mercedes,44,5,2,5,0,18,+20.011,1694089,9,1:24.253,Finished
25,Italian Grand Prix,leclerc,ferrari,16,6,8,6,0,18,+23.442,1697520,18,1:24.677,Finished
26,Italian Grand Prix,sainz,ferrari,55,7,7,7,0,18,+27.952,1702030,8,1:24.918,Finished
27,Italian Grand Prix,giovinazzi,alfa,99,8,10,8,0,18,+31.089,1705167,10,1:25.126,Finished
28,Italian Grand Prix,perez,red_bull,11,9,9,9,0,18,+31.680,1705758,12,1:24.211,Finished
29,Italian Grand Prix,stroll,aston_martin,18,10,12,10,0,18,+38.671,1712749,8,1:25.349,Finished
30,Emilia Romagna Grand Prix,max_verstappen,red_bull,1,1,1,1,8,21,30:39.567,1839567,14,1:19.154,Finished
31,Emilia Romagna Grand Prix,leclerc,ferrari,16,2,2,2,7,21,+2.975,1842542,11,1:19.044,Finished
32,Emilia Romagna Grand Prix,perez,red_bull,11,3,7,3,6,21,+4.721,1844288,14,1:19.012,Finished
33,Emilia Romagna Grand Prix,sainz,ferrari,55,4,10,4,5,21,+17.578,1857145,14,1:19.251,Finished
34,Emilia Romagna Grand Prix,norris,mclaren,4,5,3,5,4,21,+24.561,1864128,9,1:20.030,Finished
35,Emilia Romagna Grand Prix,ricciardo,mclaren,3,6,6,6,3,21,+27.740,1867307,12,1:20.328,Finished
36,Emilia Romagna Grand Prix,bottas,alfa,77,7,8,7,2,21,+28.133,1867700,9,1:20.219,Finished
37,Emilia Romagna Grand Prix,kevin_magnussen,haas,20,8,4,8,1,21,+30.712,1870279,6,1:20.557,Finished
38,Emilia Romagna Grand Prix,alonso,alpine,14,9,5,9,0,21,+32.278,1871845,10,1:20.639,Finished
39,Emilia Romagna Grand Prix,mick_schumacher,haas,47,10,12,10,0,21,+33.773,1873340,15,1:20.567,Finished
40,Emilia Romagna Grand Prix,russell,mercedes,63,11,11,11,0,21,+36.284,1875851,19,1:20.756,Finished
41,Emilia Romagna Grand Prix,tsunoda,alphatauri,22,12,16,12,0,21,+38.298,1877865,20,1:20.909,Finished
42,Emilia Romagna Grand Prix,vettel,aston_martin,5,13,9,13,0,21,+40.177,1879744,8,1:21.044,Finished
43,Emilia Romagna Grand Prix,hamilton,mercedes,44,14,13,14,0,21,+41.459,1881026,9,1:20.663,Finished
44,Emilia Romagna Grand Prix,stroll,aston_martin,18,15,15,15,0,21,+42.910,1882477,14,1:20.948,Finished
45,Emilia Romagna Grand Prix,ocon,alpine,31,16,19,16,0,21,+43.517,1883084,14,1:20.995,Finished
46,Emilia Romagna Grand Prix,gasly,alphatauri,10,17,17,17,0,21,+43.794,1883361,18,1:20.599,Finished
47,Emilia Romagna Grand Prix,albon,williams,23,18,20,18,0,21,+48.871,1888438,14,1:21.020,Finished
48,Emilia Romagna Grand Prix,latifi,williams,6,19,18,19,0,21,+52.017,1891584,16,1:21.437,Finished
49,Emilia Romagna Grand Prix,zhou,alfa,24,20,0,R,0,0,None,None,None,None,Retired
50,Austrian Grand Prix,max_verstappen,red_bull,1,1,1,1,8,23,26:30.059,1590059,5,1:08.455,Finished
51,Austrian Grand Prix,leclerc,ferrari,16,2,2,2,7,23,+1.675,1591734,4,1:08.321,Finished
52,Austrian Grand Prix,sainz,ferrari,55,3,3,3,6,23,+5.644,1595703,4,1:08.409,Finished
53,Austrian Grand Prix,russell,mercedes,63,4,4,4,5,23,+13.429,1603488,4,1:08.979,Finished
54,Austrian Grand Prix,perez,red_bull,11,5,13,5,4,23,+18.302,1608361,14,1:09.137,Finished
55,Austrian Grand Prix,ocon,alpine,31,6,5,6,3,23,+31.032,1621091,4,1:09.384,Finished
56,Austrian Grand Prix,kevin_magnussen,haas,20,7,6,7,2,23,+34.539,1624598,4,1:09.232,Finished
57,Austrian Grand Prix,hamilton,mercedes,44,8,9,8,1,23,+35.447,1625506,7,1:09.516,Finished
58,Austrian Grand Prix,mick_schumacher,haas,47,9,7,9,0,23,+37.163,1627222,4,1:09.457,Finished
59,Austrian Grand Prix,bottas,alfa,77,10,12,10,0,23,+37.557,1627616,4,1:09.674,Finished

In [25]:
pd.DataFrame(sprintresults).to_csv('sprintresults.csv', index=False)

## Status

In [26]:
status={'statusId':[],
       'status':[]}

In [27]:
for year in range(2010,2023):
    url ='http://ergast.com/api/f1/{}/status.json'
    response = requests.get(url.format(year))
    content=json.loads(response.content)
    
    for  item in content['MRData']['StatusTable']['Status']:
        status['statusId'].append(item['statusId'])
        status['status'].append(item['status'])

In [28]:
pd.DataFrame(status)

    statusId            status
0          1          Finished
1          3          Accident
2          4         Collision
3          5            Engine
4          6           Gearbox
..       ...               ...
356      103        Water pump
357      130  Collision damage
358      131        Power Unit
359      140         Undertray
360      141    Cooling system

[361 rows x 2 columns]

In [29]:
pd.DataFrame(status).to_csv('status.csv', index=False)

## Results

In [30]:
results={'raceId':[],
        'driverId':[],
        'constructorId':[],
        'number':[],
        'position':[], 
        'grid':[],
        'positionText':[],
        'points':[],
        'laps':[],
         'status':[],
         'millis':[],
        'time':[], 
        'Fastestlap':[],
        'Fastlaptime':[],
        'Fastlaspeed':[],
          'rank':[]}

In [31]:
for year in range(2010,2023):
    url= 'http://ergast.com/api/f1/{}/results.json'
    response = requests.get(url.format(year))
    content=json.loads(response.content)
    
    for item in content['MRData']['RaceTable']['Races'][0]['Results']:
        
        results['raceId'].append(content['MRData']['RaceTable']['Races'][0]['raceName'])
        results['driverId'].append(item['Driver']['driverId'])
        results['constructorId'].append(item['Constructor']['constructorId'])
        results['number'].append(int(item['number']))
        results['position'].append(int(item['position']))
        results['grid'].append(int(item['grid']))
        results['positionText'].append(item['positionText'])
        results['points'].append(int(item['points']))
        results['laps'].append(int(item['laps']))
        results['status'].append(item['status'])
        try:
            results['millis'].append(item['Time']['millis'])
        except:
             results['millis'].append(None)
        try:
            results['time'].append(item['Time']['time'])
        except:
            results['time'].append(None)
        try:
            results['Fastestlap'].append(item['FastestLap']['lap'])
        except:
            results['Fastestlap'].append(None)
        try:
            results['Fastlaptime'].append(item['FastestLap']['Time']['time'])
        except:
            results['Fastlaptime'].append(None)
        try:
            results['Fastlaspeed'].append(item['FastestLap']['AverageSpeed']['speed'])
        except:
            results['Fastlaspeed'].append(None)
        try:
            results['rank'].append(item['FastestLap']['rank'])
        except:
            results['rank'].append(None)
            
    for item in content['MRData']['RaceTable']['Races'][1]['Results']:
        results['raceId'].append(content['MRData']['RaceTable']['Races'][1]['raceName'])
        results['driverId'].append(item['Driver']['driverId'])
        results['constructorId'].append(item['Constructor']['constructorId'])
        results['number'].append(int(item['number']))
        results['position'].append(int(item['position']))
        results['grid'].append(int(item['grid']))
        results['positionText'].append(item['positionText'])
        results['points'].append(int(item['points']))
        results['laps'].append(int(item['laps']))
        results['status'].append(item['status'])
        try:
            results['millis'].append(item['Time']['millis'])
        except:
             results['millis'].append(None)
        try:
            results['time'].append(item['Time']['time'])
        except:
            results['time'].append(None)
        try:
            results['Fastestlap'].append(item['FastestLap']['lap'])
        except:
            results['Fastestlap'].append(None)
        try:
            results['Fastlaptime'].append(item['FastestLap']['Time']['time'])
        except:
            results['Fastlaptime'].append(None)
        try:
            results['Fastlaspeed'].append(item['FastestLap']['AverageSpeed']['speed'])
        except:
            results['Fastlaspeed'].append(None)
        try:
            results['rank'].append(item['FastestLap']['rank'])
        except:
            results['rank'].append(None)

In [32]:
pd.DataFrame(results)

,raceId,driverId,constructorId,number,position,grid,positionText,points,laps,status,millis,time,Fastestlap,Fastlaptime,Fastlaspeed,rank
0,Bahrain Grand Prix,alonso,ferrari,8,1,3,1,25,49,Finished,5960396,1:39:20.396,45,1:58.287,191.706,1
1,Bahrain Grand Prix,massa,ferrari,7,2,2,2,18,49,Finished,5976495,+16.099,38,1:59.732,189.392,5
2,Bahrain Grand Prix,hamilton,mclaren,2,3,4,3,15,49,Finished,5983578,+23.182,42,1:59.560,189.665,4
3,Bahrain Grand Prix,vettel,red_bull,5,4,1,4,12,49,Finished,5999195,+38.799,32,2:00.218,188.627,12
4,Bahrain Grand Prix,rosberg,mercedes,4,5,5,5,10,49,Finished,6000609,+40.213,45,2:00.236,188.599,13
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
385,Saudi Arabian Grand Prix,ocon,alpine,31,6,5,6,8,50,Finished,5115310,+56.017,46,1:33.103,238.729,9
386,Saudi Arabian Grand Prix,norris,mclaren,4,7,11,7,6,50,Finished,5115417,+56.124,46,1:32.753,239.629,5
387,Saudi Arabian Grand Prix,gasly,alphatauri,10,8,9,8,4,50,Finished,5122239,+1:02.946,42,1:33.468,237.796,10
388,Saudi Arabian Grand Prix,kevin_magnussen,haas,20,9,10,9,2,50,Finished,5123601,+1:04.308,48,1:32.779,239.562,6
389,Saudi Arabian Grand Prix,hamilton,mercedes,44,10,15,10,1,50,Finished,5133241,+1:13.948,47,1:32.997,239.001,8

In [33]:
pd.DataFrame(results).to_csv('results.csv', index=False)

## PitStops

In [34]:
pitstops={'raceId':[],
          'driverId':[],
          'stop':[],
         'lap':[],
          'time':[],
        'duration':[]}

In [35]:
for year in range(2011,2023):
    url ='http://ergast.com/api/f1/{}/5/pitstops.json'
    response = requests.get(url.format(year))
    content=json.loads(response.content)
    
    for  item in content['MRData']['RaceTable']['Races'][0]['PitStops']:
        pitstops['raceId'].append(content['MRData']['RaceTable']['Races'][0]['raceName'])
        pitstops['driverId'].append(item['driverId'])
        pitstops['lap'].append(item['lap'])
        pitstops['stop'].append(item['stop'])
        pitstops['time'].append(item['time'])
        pitstops['duration'].append(item['duration'])

In [36]:
pd.DataFrame(pitstops)

                 raceId         driverId stop lap      time duration
0    Spanish Grand Prix        kobayashi    1   1  14:05:11   24.871
1    Spanish Grand Prix            perez    1   7  14:14:14   23.592
2    Spanish Grand Prix        maldonado    1   8  14:15:48   22.689
3    Spanish Grand Prix           vettel    1   9  14:16:54   20.253
4    Spanish Grand Prix            buemi    1   9  14:17:17   20.818
..                  ...              ...  ...  ..       ...      ...
330    Miami Grand Prix           vettel    1  41  16:39:42   19.861
331    Miami Grand Prix        ricciardo    2  41  16:39:49   19.280
332    Miami Grand Prix          tsunoda    2  41  16:40:43   19.618
333    Miami Grand Prix  kevin_magnussen    2  42  16:41:34   20.673
334    Miami Grand Prix  mick_schumacher    2  54  17:03:43   32.381

[335 rows x 6 columns]

In [37]:
pd.DataFrame(pitstops).to_csv('pitstops.csv', index=False)

## LapTimes

In [4]:
laptimes={'raceId':[],
          'driverId':[],
         'position':[],
          'time':[]}

In [5]:
for year in range(2010,2023):
    url = 'http://ergast.com/api/f1/{}/5/laps/1.json'
    response = requests.get(url.format(year))
    content=json.loads(response.content)
    
    for  item in content['MRData']['RaceTable']['Races'][0]['Laps'][0]['Timings']:
        laptimes['raceId'].append(content['MRData']['RaceTable']['Races'][0]['raceName'])
        laptimes['driverId'].append(item['driverId'])
        laptimes['position'].append(item['position'])
        laptimes['time'].append(item['time'])

In [6]:
pd.DataFrame(laptimes)

                 raceId  driverId position      time
0    Spanish Grand Prix    webber        1  1:31.460
1    Spanish Grand Prix    vettel        2  1:32.211
2    Spanish Grand Prix  hamilton        3  1:33.114
3    Spanish Grand Prix    alonso        4  1:33.939
4    Spanish Grand Prix    button        5  1:34.658
..                  ...       ...      ...       ...
264    Miami Grand Prix     albon       16  1:46.365
265    Miami Grand Prix    latifi       17  1:47.320
266    Miami Grand Prix      ocon       18  1:47.446
267    Miami Grand Prix    stroll       19  1:53.387
268    Miami Grand Prix    vettel       20  1:54.106

[269 rows x 4 columns]

In [7]:
pd.DataFrame(laptimes).to_csv('laptimes.csv', index=False)

## DriverStandings

In [8]:
driverstandings={'driverId':[],
        'points':[],
        'positions':[],
        'positionText':[],
        'wins':[]}

In [9]:
for year in range(2010,2023):
    url = 'http://ergast.com/api/f1/{}/driverStandings.json'
    response = requests.get(url.format(year))
    content=json.loads(response.content)
    
    for  item in content['MRData']['StandingsTable'][ 'StandingsLists'][0]['DriverStandings']:
        driverstandings['driverId'].append(item['Driver']['driverId'])
        driverstandings['points'].append(item['points'])
        driverstandings['positions'].append(item['position'])
        driverstandings['positionText'].append(item['positionText'])
        driverstandings['wins'].append(item['wins'])

In [10]:
pd.DataFrame(driverstandings)

       driverId points positions positionText wins
0        vettel    256         1            1    5
1        alonso    252         2            2    5
2        webber    242         3            3    4
3      hamilton    240         4            4    3
4        button    214         5            5    2
..          ...    ...       ...          ...  ...
299        zhou      6        18           18    0
300       albon      4        19           19    0
301      latifi      2        20           20    0
302    de_vries      2        21           21    0
303  hulkenberg      0        22           22    0

[304 rows x 5 columns]

In [11]:
pd.DataFrame(driverstandings).to_csv('driverstandings.csv', index=False)

## ConstructorStandings

In [12]:
contructorstandings={'constructorId':[],
        'points':[],
        'positions':[],
        'positionText':[],
        'wins':[]}

In [13]:
for year in range(2010,2023):
    url = 'http://ergast.com/api/f1/{}/constructorStandings.json'
    response = requests.get(url.format(year))
    content=json.loads(response.content)
    
    for  item in content['MRData']['StandingsTable'][ 'StandingsLists'][0]['ConstructorStandings']:
        contructorstandings['constructorId'].append(item['Constructor']['constructorId'])
        contructorstandings['points'].append(item['points'])
        contructorstandings['positions'].append(item['position'])
        contructorstandings['positionText'].append(item['positionText'])
        contructorstandings['wins'].append(item['wins'])

In [14]:
pd.DataFrame(contructorstandings)

    constructorId points positions positionText wins
0        red_bull    498         1            1    9
1         mclaren    454         2            2    5
2         ferrari    396         3            3    5
3        mercedes    214         4            4    0
4         renault    163         5            5    0
..            ...    ...       ...          ...  ...
134          alfa     55         6            6    0
135  aston_martin     55         7            7    0
136          haas     37         8            8    0
137    alphatauri     35         9            9    0
138      williams      8        10           10    0

[139 rows x 5 columns]

In [15]:
pd.DataFrame(contructorstandings).to_csv('contructorstandings.csv', index=False)

## ConstructorResults

In [19]:
contructoresults={'raceId':[],
        'constructorId':[],
        'points':[],
        'status':[]}

In [20]:
for year in range(2010,2023):
    url= 'http://ergast.com/api/f1/{}/results.json'
    response = requests.get(url.format(year))
    content=json.loads(response.content)
    
    for item in content['MRData']['RaceTable']['Races'][0]['Results']:
        contructoresults['raceId'].append(content['MRData']['RaceTable']['Races'][0]['raceName'])
        contructoresults['constructorId'].append(item['Constructor']['constructorId'])
        contructoresults['points'].append(int(item['points']))
        contructoresults['status'].append(item['status'])
    for item in content['MRData']['RaceTable']['Races'][1]['Results']:
        contructoresults['raceId'].append(content['MRData']['RaceTable']['Races'][1]['raceName'])
        contructoresults['constructorId'].append(item['Constructor']['constructorId'])
        contructoresults['points'].append(int(item['points']))
        contructoresults['status'].append(item['status'])

In [21]:
pd.DataFrame(contructoresults)

                       raceId constructorId  points    status
0          Bahrain Grand Prix       ferrari      25  Finished
1          Bahrain Grand Prix       ferrari      18  Finished
2          Bahrain Grand Prix       mclaren      15  Finished
3          Bahrain Grand Prix      red_bull      12  Finished
4          Bahrain Grand Prix      mercedes      10  Finished
..                        ...           ...     ...       ...
385  Saudi Arabian Grand Prix        alpine       8  Finished
386  Saudi Arabian Grand Prix       mclaren       6  Finished
387  Saudi Arabian Grand Prix    alphatauri       4  Finished
388  Saudi Arabian Grand Prix          haas       2  Finished
389  Saudi Arabian Grand Prix      mercedes       1  Finished

[390 rows x 4 columns]

In [22]:
pd.DataFrame(contructorstandings).to_csv('contructorstandings.csv', index=False)